/* Cart Container */
.cart-container {
  background-image: url("https://i.pinimg.com/736x/4e/5c/c1/4e5cc1c3a000fa6384aa0057375a3723.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
  padding-top: 20px; /* Add spacing at the top */
}

/* Cart Box */
.cart-box {
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Add white background for clarity */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: white; 
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.cart-item-image {
  width: 250px; 
  height: auto;
  border-radius: 10px;
}


.cart-item-details h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.cart-item-details p {
  font-size: 18px;
  font-style: italic;
  margin: 5px 0;
}

.remove-btn {
  background-color: green;
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}


.remove-btn:hover {
  background-color: red;
}


.remove-btn:active {
  background-color: darkred;
}

